.songplate {
    display: flex;
    flex-wrap: nowrap;
    width: clamp(240px, 30%, 400px);
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px;
    /* overflow: hidden; */
    position: relative;
}
.songplate > * {
    /* border: 1px solid var(--bg); */
}

.songplate > div:nth-child(1) {
    height: 90%;
    aspect-ratio: 1 / 1;
    background-image: url('/song_thumbs/on_the_floor.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 4px;
    cursor: pointer;
}
.songplate_details {
    display: flex;
    justify-content: space-between;
    /* flex-grow: 1; */
    align-items: center;
    overflow: hidden;
    gap: 10px;
}
.songplate_details > * {
    /* border: 1px solid var(--bg); */
    overflow: hidden;
}
.heart_icon {
    width: 24px;
    height: 24px;
    /* aspect-ratio: 1 / 1; */
    background-image: url('/add_song.svg');
    background-repeat: no-repeat;
    background-size: 80%;
    border-radius: 50%;
    background-position: center center;
    position: relative;
    cursor: pointer;
    opacity: .8;
    transition: .2;
    z-index: 1;
}
.heart_icon:hover {
    opacity: 1;
}
.songplate_details > div:nth-child(1) {
    position: relative;
    white-space: nowrap;
    flex-grow: 1;
    width: 100%;
    -webkit-mask-image: linear-gradient(to right, #000 85%, transparent 96% 100%);
    mask-image: linear-gradient(to right, #000 85%, transparent 96% 100%);
}
.songplate_details > div:nth-child(1) > div:nth-child(1) > span {
    font-weight: 600;
    cursor: pointer;
    text-decoration: underline 1.5px solid transparent;
}
.songplate_details > div:nth-child(1) > div:nth-child(2) {
    color: var(--secondary-color);
    font-size: 13px;
}
.songplate_details > div:nth-child(1) > div:nth-child(2) > span {
    cursor: pointer;
}
.songplate_details > div:nth-child(1) > div:nth-child(2) > span:hover {
    text-decoration: underline 1px solid #fff;
    color: #fff;
}
.songplate_details > div:nth-child(1) > div:nth-child(1) > span:hover {
    text-decoration: underline 1.5px solid #fff;
}