.lyrics-bar {
    border-radius: inherit;
    background-color: rgb(80, 198, 125);
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}
.lyrics-wraper {
    width: max-content;
    padding: 50px 40px;
    font-size: 1.6rem;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
.lyrics-wraper::-webkit-scrollbar {
    width: 0;
}
.lyrics-wraper > p {
    line-height: 40px;
    color: #000;
    /* background-color: red; */
    font-weight: 600;
    transition: ease;
    &:hover {
        text-decoration: underline 2px solid #fff;
        color: #fff;
    }
}
@media screen and (min-width: 1000px) {
    .lyrics-wraper > p {
        line-height: 50px;
    }
    .lyrics-wraper {
        font-size: 1.8rem;
    }
}