.controllers {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    overflow: hidden;
    max-width: 722px;
    /* min-width: 280px; */
    align-items: center;
}
.controllers > * {
    /* border: 1px solid var(--bg); */
    overflow: hidden;
}
.controll_buttons {
    flex-grow: 1;
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-height: 50px;
}
.controll_button {
    height: 65%;
    aspect-ratio: 1 / 1;
    /* background-color: red; */
    /* border: 1px solid var(--bg); */
    border-radius: 50%;
    cursor: pointer;
}
.controll_button {
    /* background-image: url('/play-btn.svg'); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 65%;
    position: relative;
}
.controll_button:nth-child(3) {
    background-image: url('/play-btn-black.svg');
    --bgSize: 65%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: var(--bgSize);
    background-color: #fff;
    transform: scale(1);
}
.controll_button:nth-child(1), .controll_button:nth-last-child(1) {
    --display-dot: block;
}
.controll_button:nth-child(1) > div:nth-child(1) {
    mask: url('/suffle.svg') no-repeat center center;
    background-color: var(--brand-color);
    filter: none;
    mask-size: 45%;
    width: 100%;
    height: 100%;
}
.controll_button:nth-last-child(1) > div:nth-child(1) {
    mask: url('/repeat.svg') no-repeat center center;
    background-color: var(--brand-color);
    filter: none;
    mask-size: 45%;
    width: 100%;
    height: 100%;
}
.controll_button:nth-child(1), .controll_button:nth-last-child(1) {
    opacity: 1;
    background-size: 50%;
}
.controll_button:nth-last-child(2) {
    background-image: url('/next-song.svg');
}
.controll_button:nth-child(2), .controll_button:nth-last-child(2) {
    background-size: 45%;
    /* filter: hue-rotate(90deg) brightness(0.7) saturate(5) invert(0); */
    opacity: .75;
}
.controll_button:nth-child(2) {
    background-image: url('/prev-song.svg');
}
.controll_button:not(:nth-child(3)) {
    transform: scale(1);
}
.controll_button:not(:nth-child(3)):hover {
    transform: scale(1);
    opacity: 1;
    filter: none;
    /* background-color: red; */
}
.controll_button:not(:nth-child(3)):active {
    opacity: .65;
    transform: scale(1);
}
.controll_button:nth-child(3):hover {
    transform: scale(1.02);
}
.controll_button:nth-child(3):active {
    filter: brightness(75%);
    transform: scale(.98);
}
/* .suffle-svg-icon {
    fill: red;
} */
.controll_button:nth-child(1)::before, .controll_button:nth-last-child(1)::before {
    content: '';
    position: absolute;
    height: 4px;
    mask-image: none;
    width: 4px;
    border-radius: 50%;
    left: 50%;
    bottom: 0;
    display: var(--display-dot);
    transform: translate(-50%);
    /* background: none; */
    background-color: var(--brand-color);
    z-index: 4;
}
.btn_icon {
   
}
.dot {
    background-color: #0ff;
    height: 50%;
    mask-image: none;
    width: 100%;
    border-radius: 50%;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
    /* background: none; */
    /* background-color: red; */
    z-index: 4;
}
.controll_button:nth-last-child(1) {
    /* background-color: red; */
}

/* Song slider controller */
.song_slider {
    display: flex;
    justify-content: center;
    max-width: 722px;
    justify-self: center;
    align-items: center;
    width: clamp(200px, 100%, 580px);
}
.currentTime, .songDuration {
    color: var(--secondary-color);
    font-size: 13px;
}
.currentTime {
    
}
.songDuration {

}
.slider {
    flex-grow: 1;
    display: grid;
    place-items: center;
}
.slider_input {
    /* border: 1px solid red; */
    width: 100%;
    display: grid;
    place-items: center;
    height: 12px;
}
.slider > .slider_input > input[type='range'] {
    width: 95%;
    -webkit-appearance: none;
    appearance: none;
    height: 3px;
    --light-color: #ffffff22;
    --deep-color: #fff;
    background: transparent;
    outline: none;
    border-radius: 20px;
    position: relative;
    /* padding: 10px; */
}
.slider > .slider_input > input:hover {
    --deep-color: var(--brand-color);
}
.slider > .slider_input > input[type='range']::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--light-color);
    border-radius: 20px;
    z-index: -1;
}
.slider > .slider_input > input[type='range']::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: var(--played-percentage);
    height: 100%;
    background-color: var(--deep-color);
    border-radius: 20px;
    z-index: -1;
}
.slider > .slider_input > input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0px;
    aspect-ratio: 1 / 1;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
  }
  .slider > .slider_input:hover > input::-webkit-slider-thumb  {
    width: 12px;
  }
  .slider > .slider_input > input::-webkit-slider-runnable-track {
    /* background-color: red; */
    height: 12px;
}
  .slider > .slider_input > input::-moz-range-thumb {
    width: 12px;
    aspect-ratio: 1 / 1;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
  }