
.pip-miniplayer {
    display: none;
    max-height: 100dvh;
    min-height: 100dvh;
    width: 100dvw;
    position: relative;
    /* overflow: hidden; */
    display: var(--display);
    grid-template-rows: 1fr 1fr;
    gap: 0;
}
.pip-miniplayer > div:nth-child(1) {
    overflow: hidden;
    width: clamp(230px, 90%, 600px);
}
.pip-miniplayer > div:nth-child(1) > div:nth-child(2) {
    width: 90%;
}
.pip-miniplayer > div:nth-child(1) > div:nth-child(1) {
    max-width: 80px;
    max-height: 80px;
}
.pip-miniplayer > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) {
    width: 30px;
}
.pip-miniplayer > div:nth-child(2) {
    /* border: 1px solid red; */
    /* width: 100%; */
    /* position: relative; */
    overflow: unset;
    padding: 0 10px 20px 10px;
    /* max-width: 100dvw; */
}
.pip-miniplayer > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) {
    -webkit-mask-image: linear-gradient(to right, #000 80%, transparent 96% 100%);
    mask-image: linear-gradient(to right, #000 80%, transparent 96% 100%);
}
@media screen and (max-height: 160px) {
    .pip-miniplayer {
        
    }
    .pip-miniplayer > div:nth-child(2) > div:nth-child(2) {
        display: none;
    }
    .pip-miniplayer > div:nth-child(2) > div:nth-child(1) > div {
        height: 70%;
    }
}
@media screen and (max-height: 130px) {
    .pip-miniplayer > div:nth-child(2) > div:nth-child(1) > div {
        height: 85%;
    }
}
@media screen and (max-height: 110px) {
    .pip-miniplayer > div:nth-child(2) > div:nth-child(1) > div {
        height: 100%;
    }
}
@media screen and (max-height: 100px) {
    .pip-miniplayer > div:nth-child(2) > div:nth-child(1) > div {
        height: 100%;
    }
    .pip-miniplayer {
        display: flex;
        flex-wrap: nowrap;
        position: relative;
        flex-direction: row;
        /* place-items: center; */
    }
    .pip-miniplayer > div:nth-child(2) {
        overflow: hidden;
        justify-content: center;
        padding: 0;
        width: 100%;
        flex-grow: 1;
        height: inherit;
    }
    .pip-miniplayer > div:nth-child(1) {
        overflow: hidden;
        flex-grow: 1;
        /* width: clamp(230px, 30%, 600px); */

    }
    .pip-miniplayer > div:nth-child(2) > div:nth-child(1) > div {
        height: 70%;
    }
    .pip-miniplayer > div:nth-child(2) > div:nth-child(1) > div:nth-child(1), .pip-miniplayer > div:nth-child(2) > div:nth-child(1) > div:nth-child(2), .pip-miniplayer > div:nth-child(2) > div:nth-child(1) > div:nth-child(5) {
        display: none;
    }
    .pip-miniplayer > div:nth-child(1) > div:nth-child(1) {
        max-width: 60px;
        max-height: 60px;
    }
    .pip-miniplayer > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) {
        display: none;
    }
    .pip-miniplayer > div:nth-child(1) {
        padding-right: 0px;
    }
    .pip-miniplayer > div:nth-child(2) > div:nth-child(1) {
        justify-content: flex-end;
        justify-items: end;
    }
    @media screen and (min-width: 330px) {
        .pip-miniplayer > div:nth-child(2) > div:nth-child(1) > div:nth-child(2) {
            display: unset;
        }
    }
    @media screen and (min-width: 360px) {
        .pip-miniplayer > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) {
            display: block;
        }
    }
    @media screen and (min-width: 430px) {
        .pip-miniplayer > div:nth-child(2) > div:nth-child(1) > div:nth-child(5) {
            display: unset;
        }
    }
    @media screen and (min-width: 460px) {
        .pip-miniplayer > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) {
            display: unset;
        }
    }
}