.mainFooter {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 40px;
    user-select: text;
    padding-top: 40px;
}
.links {
    border-bottom: 1px solid var(--bg);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-betweenn;
}
.linkSection {
    display: flex;
    /* border: 1px solid var(--bg); */
    flex-wrap: wrap;
    flex-grow: 1;
}
.socialLinks {
    margin-bottom: 40px;
    display: flex;
    /* border: 1px solid var(--bg); */
    flex-wrap: nowrap;
    gap: 10px;
}
.linkSet {
    flex-basis: 0;
    /* border: 1px solid var(--bg); */
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    min-width: 150px;
    flex-wrap: wrap;
    gap: 8px;
    flex-grow: 1;
    /* flex-shrink: 1; */
}
.linkSectionTitle > span {
    cursor: text;
    font-weight: 700;
    filter: invert(5%);
    /* color: red; */
    /* border: 1px solid red; */

}
.links_set {
    display: flex;
    flex-direction: column;
}
.final_link > a {
    text-decoration: none;
    color: var(--secondary-color);
    padding-bottom: 8px;
    /* display: inline; */
}
.final_link > a:hover {
    text-decoration: underline 1px solid #fff;
    color: #fff;
}
.social {
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    background-size: 16px;
    border-radius: 50%;
    background-color: #ffffff13;
    cursor: pointer;
}
.social:hover {
    background-color: #ffffff2a;
}
.legal {
    padding-top: 14px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 14px;
}
.legal_links {
    display: flex;
    flex-wrap: wrap;
    /* column-gap: 16px;
    row-gap: 8px; */
}
.legal_links > a {
    text-decoration: none;
    color: var(--secondary-color);
    margin-right: 16px;
    margin-bottom: 8px;
}
.legal_links > a:hover {
    color: #fff;
}
.copyRight {
    padding-right: 16px;
    color: var(--secondary-color);
}