.main {
  display: grid;
  height: 100%;
  overflow: hidden;
  overflow-x: auto;
  grid-template-areas: "navBar navBar navBar"
  "leftSection mainSection rightSection"
   "bottomSection bottomSection bottomSection";
   grid-template-columns: max-content 1fr max-content;
   grid-template-rows: 48px 1fr 80px;
   gap: 7px;
   padding: 7px;
}
.main > * {
  /* border: 1px solid #fff3; */
}
.main > .mainSection {
  /* border: 1px solid red; */
}