.navigators {
    width: clamp(240px, 30%, 380px); /* Dont modify it */
    display: flex;
    align-items: center;
    justify-content: right;
    overflow: hidden;
    flex-wrap: nowrap;
    overflow: hidden;
    height: 32px;
    /* border: 1px solid red; */
    margin-top: 10px;
}
.navigators > * {
    /* border: 1px solid #fff5; */
}
.navigators > div {
    overflow: hidden;
    cursor: pointer;
}
.navigators > div:not(.sound) {
    height: 100%;
    aspect-ratio: 1 / 1;
    /* border: 1px solid red; */
}
.fullScreen  {
    mask-size: 16px;
    mask-repeat: no-repeat;
    mask-position: center center;
    background-color: #fff;
    transform: translate(-3%, -2%);
    transition: 0s;
}
.fullScreen {
    mask-image: url('/fullscreen.svg');
}
.sound {
    /* border: 1px solid var(--brand-color); */
    width: clamp(40px, 30%, 140px);
    overflow: hidden;
    height: 100%;
    display: flex;
    transform: none;
    align-items: center;
    margin-left: -5px;
}
.sound > * {
    /* border: 1px solid red; */
}
.sound > div:nth-child(2) {
    display: grid;
    place-items: center;
    margin-left: 0;
    margin-right: 5px;
}
.sound input[type='range'] {
    width: 100%;
    appearance: none;
    --slider-track-height: 12px;
    --thumb-width: 0;
    --light-color: #ffffff22;
    --deep-color: #fff;
    background: transparent;
    height: 3px;
    -webkit-appearance: none;
    border-radius: 20px;
    position: relative;
    --song-played-bar-width: 0px;
}
.sound input[type='range']::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--light-color);
    border-radius: 20px;
    z-index: -1;
}
.sound input[type='range']::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: var(--song-played-bar-width);
    height: 100%;
    background-color: var(--deep-color);
    border-radius: 20px;
    z-index: -1;
}
.sound:hover input[type='range'] {
    --thumb-width: var(--slider-track-height);
    --deep-color: var(--brand-color)
}
.sound input[type='range']::-webkit-slider-runnable-track {
    /* background-color: red; */
    /* color: red; */
    height: var(--slider-track-height);
}
.sound input[type='range']::-webkit-slider-thumb {
    background-color: #fff;
    width: var(--thumb-width);
    aspect-ratio: 1 / 1;
    appearance: none;
    cursor: pointer;
    border-radius: 50%;
    -webkit-appearance: none;
}
.sound input[type='range']::-moz-range-thumb {
    width: var(--thumb-width);
    aspect-ratio: 1 / 1;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    appearance: none;
    -moz-appearance: none;
  }
.NormalIcon {
    height: 100%;
    /* background-color: red; */
    aspect-ratio: 1 / 1;
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: center center;
}