.rightSection {
    grid-area: rightSection;
    width: clamp(280px, 25vw, 330px);
    /* display: grid;
    grid-template-rows: 64px 1fr; */
    /* padding: 0px 16px; */
    border-radius: var(--radius);
    background-color: var(--main-bg);
    overflow: hidden;
    position: relative;
    overflow-y: auto;
    scroll-behavior: smooth;
}
.rightSection::-webkit-scrollbar {
    width: 0;
}
.heading {
    /* border: 1px solid var(--bg); */
    padding: 8px 0px;
    display: flex;
    justify-content: space-between;
    /* box-shadow: 0px 4px 10px 0px #0f0f0f; */
    z-index: 4;
    padding: 0px 16px;
    height: 64px;
    position: sticky;
    top: 0;
    overflow: hidden;
    /* backdrop-filter: brightness(95%); */
    /* background-image: linear-gradient(#000, transparent); */
}
.song_heading {
    /* border: 1px solid var(--bg); */
    display: flex;
    align-items: center;
    font-size: 1rem;
    overflow: hidden;
    font-weight: 800;
    /* filter: invert(5%); */
    text-decoration: underline 1.5px solid transparent;
    flex-grow: 1;
    position: relative;
    -webkit-mask-image: linear-gradient(to right, #000 90%, transparent 96% 100%);
    mask-image: linear-gradient(to right, #000 90%, transparent 96% 100%);
}
.song_heading > p {
    white-space: nowrap;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.song_heading > p:hover {
    text-decoration: underline 1.5px solid #fff;
}
.navigator {
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.threeDots, .closeBtn {
    height: 32px;
    aspect-ratio: 1 / 1;
    /* border: 1px solid lime; */
    /* margin: 8px; */
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 50%;
    cursor: pointer;
    filter: invert(5%);
}
.threeDots {
    background-image: url('/three-dots.svg');
}
.threeDots:hover {
    filter: invert(0%);
}
.closeBtn {
    background-image: url('/cut.svg');
    transition: background-color .3s ease;
}
.closeBtn:hover {
    background-color: var(--bg);
    filter: invert(0%);
}
.closeBtn:active, .threeDots:active {
    filter: invert(35%);
}
.main {
    /* border: 1px solid var(--bg); */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 16px;
    overflow: hidden;
    /* overflow-y: scroll; */
    /* scroll-behavior: smooth; */
    position: relative;
    /* padding: 0px 16px; */
    padding-bottom: 16px;
    
}
.child-container {
    /* background-color: red; */
    overflow: hidden;
    position: relative;
    width: 100%;
}
.main::-webkit-scrollbar {
    width: 0;
}
/* .main > * {
    border: 1px solid var(--bg);
} */
.song_details {
    padding-bottom: 8px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    /* align-items: center; */
}
.song_thumb {
    width: 100%;
    aspect-ratio: 1 / .9;
    cursor: pointer;
    position: relative;
    --loading-display: none;
    padding: 0px 16px;
    display: grid;
    place-items: center;
}
.song_thumb > img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    border-radius: var(--radius);
    object-position: center center;
}
.song_thumb::before {
    content: '';
    position: absolute;
    display: var(--loading-display);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(-135deg, #fff6, #fffb);
    animation: animate 2s linear infinite;
    filter: invert(85%);
    border-radius: inherit;
    z-index: -1;
}
@keyframes animate {
    50% {
        opacity: .5;
    }
}
.song_info {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    display: grid;
    padding: 0px 16px;
    /* background-color: red; */
    grid-template-columns: 1fr max-content;
    z-index: 1;
    position: relative;
    transition: 1s ease margin-top;
    --bg-before: linear-gradient(transparent 1px, #0f0f0faa 70px, #0f0f0f 150px 100%);
    /* --bg-before: linear-gradient(transparent 4px, #0f0f0faa 25px, #0f0f0f 40px 100%); */
    /* backdrop-filter: blur(10px); */
}
.song_info::before {
    content: '';
    position: absolute;
    width: 100%;
    z-index: -1;
    left: 0;
    top: -40px; /* mod */
    padding: 0;
    height: 700%;
    background: var(--bg-before);
    pointer-events: none;
    /* background: red; */
}
.song_title {
    flex-grow: 1;
    /* border: 1px solid blue; */
    display: grid;
    overflow: hidden;
    grid-template-rows: 1fr 1fr;
    position: relative;
    -webkit-mask-image: linear-gradient(to right, #000 90%, transparent 96% 100%);
    mask-image: linear-gradient(to right, #000 90%, transparent 96% 100%);
}
.song_title > * {
    white-space: nowrap;
}
.song_title > div:nth-child(1) > span {
    font-size: 20px;
    text-decoration: 1.5px solid underline transparent;
    font-weight: 750;
    cursor: pointer;
}
.song_title > div > span:hover {
    text-decoration: 1.5px solid underline #fff;
}
.artists > span {
    color: var(--secondary-color);
    text-decoration: 1px solid underline transparent;
    cursor: pointer;
}
.artists > span:hover {
    color: #fff;
    text-decoration: 1px solid underline #fff;
}
.actions {
    /* border: 1px solid green; */
    display: flex;
    align-items: center;
}
.add_song_btn, .copy_btn {
    /* width: 40%; */
    height: 50%;
    aspect-ratio: 1 / 1;
    /* background-color: red; */
    background-image: url('/add_song.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 60%;
    border-radius: 50%;
    cursor: pointer;
    filter: invert(5%);
}
.copy_btn {
    background-image: url('/share.svg');
    filter: invert(30%);
    transition: ease filter .1s;
}
.copy_btn:hover {
    filter: invert(5%);
    transform: scale(1.04);
}
.add_song_btn:hover {
    transform: scale(1.04);
}
.about_artist {
    /* border: 1px solid blue; */
    background-color: var(--box-bg-color);
    border-radius: var(--radius);
    margin: 0px 16px;
    cursor: pointer;
    position: relative;
    z-index: 2;
}
.about_artist > div:nth-child(1) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 50%);
    width: 100%;
    aspect-ratio: 2 / 1.3;
    border-radius: 8px 8px 0px 0px;
    background-position: center center;
    background-size: cover;
}
.about_artist > div:nth-child(1) > p {
    padding: 16px;
    font-weight: 700;
}
.artist_info {
    /* border: 1px solid red; */
    padding: 16px;
    display: flex;
    flex-direction: column;
}
.artist_name {
    align-items: center;
    justify-content: baseline;
}
.artist_name > p {
    font-weight: 700;
    display: inline;
    text-decoration: underline 1px solid transparent;
    /* border: 1px solid red; */
}
.artist_name > p:hover {
    text-decoration: underline 1px solid #fff;
}
.follow_section {
    padding: 8px 0 12px 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 8px;
    align-items: center;
    /* overflow: hidden; */
}
.follow_section > div:nth-child(1) {
    flex-grow: 1;
    color: var(--secondary-color);
    white-space: wrap;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
}
.artist_description {
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    overflow: hidden;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    font-size: 13px;
    margin-bottom: 8px;
    /* filter: invert(30%); */
    color: var(--secondary-color);
}
.artist_description > a {
    text-decoration: none;
    color: #fff;
    &:hover {
        text-decoration: underline 1px solid #fff;
    }
}
.credits {
 padding: 16px;
 display: flex;
 flex-direction: column;
 gap: 16px;
 background-color: var(--box-bg-color);
    margin: 0px 16px;
    border-radius: var(--radius);
}
.credit_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.credit_title > div:nth-child(2) {
    margin-left: 10px;
    font-size: 13px;
    font-weight: 700;
    text-decoration: underline 1px solid transparent;
    cursor: pointer;
}
.credit_title > div:nth-child(1) {
    font-weight: 700;
    cursor: text;
    user-select: text;
}
.credit_title > div:nth-child(2):hover {
    text-decoration: underline 1px solid #fff;
    font-weight: 750;
    transform: scale(1.02);

}
.credits > div:not(:nth-child(1)) {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.credits > div:not(:nth-child(1)) > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
    flex-grow: 1;
}
.credits > div:not(:nth-child(1)) > div:nth-child(1) > div:nth-child(1) {
    font-weight: 400;
}
/* .credits > div:not(:nth-child(1)) > div:nth-child(1) > div:nth-child(1) {
} */
.credits > div:not(:nth-child(1)) > div:nth-child(1) > div:nth-child(1) > span {
    cursor: pointer;
    text-decoration: underline 1.5px solid transparent;
}
.credits > div:not(:nth-child(1)) > div:nth-child(1) > div:nth-child(1) > span[name="nonArtist"] {
    cursor: text;
    user-select: text;
}
.credits > div:not(:nth-child(1)) > div:nth-child(1) > div:nth-child(1) > span:not([name="nonArtist"]):hover {
    text-decoration: underline 1.5px solid #fff;
}
.credits > div:not(:nth-child(1)) > div:nth-child(1) > div:nth-child(2) {
    font-size: 13px;
    font-weight: 400;
    color: #c3c3c3;
    filter: invert(5%);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}
.credits > div:not(:nth-child(1)) > div:nth-child(1) > div:nth-child(2) > span {
    cursor: text;
    user-select: text;
    /* background-color: green; */
    display: block;
}
.circle_artist {
    display: flex;
    flex-direction: column;
}
.circle_artist_cover {
    object-fit: cover;
    width: 80px;
    aspect-ratio: 1 / 1;
    object-position: center center;
    border-radius: 50%;
    margin: auto 16px;
    -webkit-user-drag: none;
}
.next_queue {
    background-color: var(--box-bg-color);
    border-radius: var(--radius);
    padding: 16px;
    display: flex;
    flex-direction: column;
    margin: 0px 16px;
    gap: 10px;
}
.queue_title {
    display: flex;
    justify-content: space-between;
}
.queue_title > span:nth-child(1) {
    font-weight: 700;
    cursor: text;
    user-select: text;
}
.queue_title > span:nth-child(2) {
    font-size: 13px;
    padding-left: 10px;
    color: var(--secondary-color);
    font-weight: 600;
    transition: transform .2s ease, text-decoration 0s;
    cursor: pointer;
}
.queue_title > span:nth-child(2):hover {
    color: #fff;
    transform: scale(1.02);
    text-decoration: underline 1px solid #fff;
}
.queue_next {
    margin: auto -8px;
    display: grid;
    grid-template-columns: 48px 1fr;
    padding: 8px;
    gap: 10px;
    border-radius: var(--radius);
    cursor: pointer;
    overflow: hidden;
}
.queue_next > div:nth-child(1) {
    width: 100%;
    aspect-ratio: 1 / 1;
    background-image: linear-gradient(#0004, #0008);
    background-position: center center;
    background-size: cover;
    border-radius: 4px;
    position: relative;
    display: grid;
    place-items: center;
    background-color: transparent;
    background-blend-mode: multiply;
}
.queue_next > div:nth-child(1)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(-135deg, #fff6, #fffb);
    animation: animate 2s linear infinite;
    filter: invert(85%);
    border-radius: inherit;
    z-index: -1;
}
.queue_next:hover {
    background-color: var(--main-bg);
}
.queue_next:hover :is(div:nth-child(2) > span:nth-child(3), .queue_btn) {
    opacity: 1;
}
.queue_next:hover > div:nth-child(1) {
    background-color: #0005;
}
.queue_btn {
    height: 22px;
    aspect-ratio: 1 / 1;
    /* background-color: red; */
    background-image: url('/play-btn.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 85%;
    border-radius: 50%;
    opacity: 0;
}
.queue_next > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding-right: 34px;
    overflow: hidden;
}
.queue_next > div:nth-child(2) > span:nth-child(1) {
    font-size: 1rem;
    font-weight: 500;
}
.queue_next > div:nth-child(2) > span:nth-child(2) {
    font-size: 13px;
}
.queue_next > div:nth-child(2) > span:nth-child(2) > span:hover {
    text-decoration: underline 1px solid #fff;
}
.queue_next > div:nth-child(2) > span:nth-child(3) {
    position: absolute;
    right: 4px;
    width: 24px;
    height: 15px;
    background-image: url('/three-dots.svg');
    background-size: 70%;
    background-repeat: no-repeat;
    opacity: 0;
    /* background-color: red; */
    background-position: center center;
    filter: invert(30%);
}
.queue_next > div:nth-child(2) > span:nth-child(3):hover {
    filter: invert(0);
}
.queue_next > div:nth-child(2) > span:is(:nth-child(1), :nth-child(2)) {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.canvasContainer {
    position: absolute;
    display: block;
    transition: 3s ease;
    width: 100%;
    /* opacity: .8; */
    top: 0;
    --c1: #0f0f0f88;
    --c2: #0f0f0f66;
    --c3: #0f0f0f88;
    /* border-radius: var(--radius) var(--radius) 0px 0px; */
    /* display: none; */
}
.canvas {
    width: 100%;
}
.canvasContainer:hover {
    --c1: #0f0f0f22;
    --c2: #0f0f0f33;
    --c3: #0f0f0f33;
}
.canvasContainer::after {
    position: absolute;
    content: '';
    height: 60px;
    width: 100%;
    background: linear-gradient(#0f0f0fee, transparent 70%);
    top: 0;
    left: 0;
}
.canvasContainer::before {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    /* background: linear-gradient(#0007 30px, #0003 100px 65%, #0006 75% 100%); */
    transition: 3s ease;
    /* z-index: 1; */
    background: linear-gradient(var(--c1) 30px, var(--c2) 50px 65%, var(--c3) 75% 100%);
}
/* .song_thumb {
    
} */